<header class="mb-4">
  <h1 class="text-2xl font-bold"><%= @session.activity.name %> - <%= @session.occurred_on %></h1>
  <% if @session.deletable? %>
    <%= form_with model: @session, method: :delete do |f| %>
      <%= f.submit 'Delete this session', class: 'text-red-600 underline cursor-pointer' %>
    <% end %>
  <% end %>
</header>

<table data-controller="session" data-session-engagements-url-value="<%= engagements_path %>" data-session-session-value="<%= @session.id %>">
  <tr class="bg-gray-200 border-b border-black">
    <th class="text-left p-1">Name</th>
    <th class="p-1">Room</th>
    <th class="p-1">Invited</th>
    <th class="p-1">Attended</th>
    <th class="text-left p-1">Notes</th>
  </tr>

  <% each_resident_with_engagement_for(@session) do |resident, engagement, index| %>
    <tr data-resident="<%= resident.id %>" class="<%= index.odd? ? 'bg-gray-100' : '' %>">
      <td class="p-1">
        <%= resident.name %>
        <% if resident.former? %>
          <span class="text-red-600 text-sm">(former resident)</span>
        <% end %>
      </td>
      <td class="text-center p-1"><%= resident.room %></td>
      <td class="text-center p-1"><%= check_box_tag dom_id(resident, :invited), 1, engagement.invited?, data: { action: 'session#toggleInvited' } %></td>
      <td class="text-center p-1"><%= check_box_tag dom_id(resident, :attended), 1, engagement.attended?, data: { action: 'session#toggleAttended' } %></td>
      <td class="p-1"><%= text_field_tag dom_id(resident, :notes), engagement.notes, class: 'w-full px-2 py-1', data: { action: 'session#updateNotes' } %></td>
    </tr>
  <% end %>
</table
