<li data-controller="autofocus remove" class="mb-4 border-b pb-4">
  <%= form_with model: Activity.new, data: { turbo_stream: true } do |f| %>
    <div>
      <%= f.text_field :name, placeholder: 'Activity name', class: 'px-2 py-1 rounded', autofocus: true %>
      <%= f.text_field :abbv, placeholder: "Abbv.", class: 'w-16 px-2 py-1 rounded' %>
    </div>
    <%= render 'tags/cloud', form: f %>
    <div>
      <%= f.submit 'Save', class: "border border-green-600 bg-green-100 hover:bg-green-200 cursor-pointer px-2 py-1 rounded" %>
      or <%= link_to "cancel", '#', class: 'text-red-600 underline', data: { action: 'remove#remove:prevent' } %>
    </div>
  <% end %>
</li>
