<!DOCTYPE html>
<html>
  <head>
    <title>Aladdin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="fixed top-0 w-full border-b px-4 py-1 flex flex-row gap-4 bg-white">
      <%= link_to 'Calendar', calendar_path, class: 'text-blue-600 underline' %>
      <%= link_to 'Residents', residents_path, class: 'text-blue-600 underline' %>
      <%= link_to 'Activities', activities_path, class: 'text-blue-600 underline' %>
      <%= link_to 'Tags', tags_path, class: 'text-blue-600 underline' %>
    </header>

    <main class="container mx-auto mt-20 px-5 flex flex-col mb-8">
      <%= yield %>
    </main>
  </body>
</html>
